/* Navbar hover effect */
.navbar:hover {
    border-bottom: 2px solid yellow;
    cursor: pointer;
  }
  
  /* Root variable for box-shadow */
  :root {
    --box-shadow: 5px 5px 10px 0px rgba(101, 175, 10, 0.5);
  }
.shadow-custom {
    border: 3px solid rgb(255, 193, 7); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 
                0px 0px 10px 3px rgba(255, 193, 7, 0.6);
              }
  
  .custom-margin{
    margin-left: 2.5rem;
  }
  
  .resume {
    font-weight: bold;
  }
  
  .img {
    border: 6px solid rgb(53, 109, 53);
    animation: animation 3s ease-in-out infinite;
  }
  
  @keyframes animation {
    0% {
      border-color: blue;
      box-shadow: 10px 10px 100px 50px blue; 
      transform: translate(0, 0);
    }
    25% {
      border-color: yellow;
      box-shadow: 10px 10px 100px 50px yellow; 
    }
    50% {
      border-color: skyblue;
      box-shadow: 10px 10px 100px 50px skyblue; 
      transform: translate(0, 10px);
    }
    75% {
      border-color: rgb(255, 193, 7);
      box-shadow: 10px 10px 100px 50px rgb(255, 193, 7); 
      transform: translate(0, 0);
    }
    100% {
      border-color: rgb(136, 131, 131);
      box-shadow: 10px 10px 100px 50px rgb(136, 131, 131); /* Corrected to px */
      transform: translate(0, -0px);
    }
  }
  

  /*Skills */
  .col{
    width: calc(33.33%);
    margin: 1rem;
  }
  @media screen and (max-width: 780px) {
    .order-1 {
      margin-top: 5rem;
    }
    .custom-margin{
      margin-left: 0%;
    }
    .col{
      width: calc(90%);
    
    }
  }
  